

    <h2>El calzado seleccionado es " {{productsView.title}} "  </h2>
    
    <h3>Descripcion: {{productsView.description}} </h3>
    <h3>Precio: ${{productsView.price}} </h3>
    <h3>Quedan: {{productsView.stock}} pares</h3>
    <h3>Categoria: {{productsView.category}} </h3>
    
   

