

    <h2>El calzado seleccionado es " {{productoId.title}} "  </h2>
    
    <h3>Descripcion: {{productoId.description}} </h3>
    <h3>Precio: ${{productoId.price}} </h3>
    <h3>Quedan: {{productoId.stock}} pares</h3>
    <h3>Categoria: {{productoId.category}} </h3>
   

