
{{#each products.docs }}
    <h2>Producto:</h2>
    
       <h3>Nombre: {{title}}</h3>
       <h4>{{description}}</h4>
       <h4>{{price}}</h4>
       <h4>{{stock}}</h4>
       <h4>{{category}}</h4>
    

{{/each}}

<div>
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}>  Anterior</a>
    {{/if}}
    
     {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente </a>
    {{/if}} 

    &nbsp;
    <p>pagina actual: {{products.page}}</p>
    &nbsp;
</div>
 

