{{#each products}}

<ul>
    <li>Nombre: {{this.title}} </li>  
    <li>Descripcion: {{this.description}} </li>
    <li>Precio: ${{this.price}} </li>
    <li>Quedan: {{this.stock}} pares</li>
    <li>Categoria: {{this.category}} </li>
</ul>

{{/each}}